@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2a4070;
    color: #a0b7d9;
    font-family: "Raleway", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em auto;
width: 26%;
}
.title{
    text-align: left;
    margin-bottom: 1em;
}
.buttons{
    margin-bottom: 1em;
}
.join{
    border: 1px solid #aacaea;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    color: #aacaea;
    padding: 0.5em 2.7em;
    cursor: pointer;
}
.return{
    background-color: #3a5c9e;
    color: #aacaea;
    border-radius: 3px;
    padding: 0.5em 3em;
    outline: none;
    border: none;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.selected{
    cursor: pointer;
    border: 1px solid #40588f ;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(43,65,115,255);
    position: relative;
    top: -10px;
}
.quality{
    width: 100%;
    background-color: #253a68;
    padding: 1em;
}
.text{
    font-size: 12px;
}
